.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body
{
    font-family: 'Times New Roman', Times, serif;
    margin: 1px;
    background-color: ghostwhite;
    margin: 30px;
}

.logo{
    width: 350px;
    height: 140px;
}

.logo-usac{
    text-align: center;
    padding-bottom: 20px;
}

.conten{
    width: 100%;
}

.formulario{
    text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 60%;
    font-size: 25px;
    padding: 15px;
    border-radius: 5px;
}

.input{
    margin-bottom: 15px;
}

.button{
    text-align: center;
    border: none;
    width: 62%;
    color: white;
    font-size: 25px;
    background-color: grey;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: chocolate;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: darkblue;
    font-weight: 600;
}

.link:hover{
    color: red;
}

#test {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navBar {
  display: flex;
  flex-direction: row;
}

#search {
  width: 40%;
  height: 20px;
}

.links {
  margin-top: 10px;
  margin-right: 25px;
}

.card {
  width: 500px;
  height: 170px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

#logo {
  height: 40px;
  margin-right: 20px;
}

.cardPub {
  width: 95%;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 2%;
  margin-bottom: 10px;
  padding: 1%;
  background-color: lightgray;
}

.title {
  margin-left: 2%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}